<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASKCAST - Tu Videoteca Local</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <header>
        <h1>FLASKCAST</h1>
    </header>

    <div class="container">
        <h2 class="grid-title">Series y Películas Disponibles</h2>
        
        <div class="catalog-grid">
            {% for s in series %}
            <a href="{{ url_for('vista_serie', nombre_serie=s.nombre_carpeta) }}" class="catalog-card">
                <div class="cover-wrapper">
                    {% if s.tiene_portada %}
                        <img src="{{ url_for('serve_portada', nombre_serie=s.nombre_carpeta) }}" alt="Portada">
                    {% else %}
                        <div class="no-cover">🎬</div>
                    {% endif %}
                </div>
                <div class="catalog-title">{{ s.nombre_carpeta }}</div>
            </a>
            {% else %}
            <p style="color: #888; text-align: center; grid-column: 1/-1;">No se han encontrado carpetas dentro de data/media/</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>